
/******************BACKGROUND DESIGN********************/
.testDesign
{
  height: 1000px;
  width : 100%;


  clip-path: polygon(35% 0, 100% 98%, 100% 0);
  position: absolute;
  right:0;
  top:0;
  background-image: linear-gradient(to top left, #9a52ff, #ff52bf );
  z-index: -1;

}
.white
{
  position:absolute;
  background-color: white;

  height:1000px;
  width:1000px;
  top:200px;
  right:200px;
  border-radius: 100px;
  transform: rotate(50deg);
  z-index: -2;
  /*clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 100%, 0 50%);*/
}



/**********************TAG SELECTOR***********************/

html,body
{
  max-width: 100%;
  overflow-x: hidden;
}


body
{
  background-color: #f7f9fd;
  font-family: 'Open Sans', sans-serif;

  margin: 0;
  text-align: center;
  line-height: 1.5;
  color: #808d99;


}
h1
{
  font-family: 'Poppins', sans-serif;
  color: #00252e;
}
h2
{
  font-family: 'Poppins', sans-serif;
  color: #00252e;

}
h3
{
  font-family: 'Poppins', sans-serif;
  color: #f7f9fd;
  margin-block-start:0;
  margin-block-end:0;
}
p
{
  font-family: 'Open Sans', sans-serif;
  color:#808d99;
}
footer
{
  background-color: #00252e;
  padding: 80px 80px 20px;
  color: white;
  text-align: left;
  height: auto;


}
table
{
  width: 500px;

  color:#f7f9fd;

}
td
{
  vertical-align: top
}


/********************CLASS SECTION**********************/



.topSection
{
  margin: 0 25%;
  text-align: center;
}
.middleSection
{
  position:relative;
  bottom:200px;
  left: 60%;
  margin-right: 0;

  width: 400px;

  text-align: left;
}
.tryIt
{
  margin:100px auto 200px;
  width: 600px;
  padding: 10px 0;
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.middle
{
  margin: 200px 0;
}
.subscribe
{
  width: 300px;

  /*bottom: 300px;*/
  margin: 0 auto;
}
.footerTable
{
  width: 100%;
}

.table
{

  /*bottom: 120px;
  left: 35%;*/
  width:500px;


}


/***********************IMG CLASS************************/


.logo
{
  position:absolute;
  left:50px;
  top:50px;
}

.mockupsIMG
{
  /*position:absolute;
  left: 20%;
  top: 100%;*/

  margin-top: 200px;

  width: 100%;
}

.usersIMG
{

position: relative;
  top: 300px;
  right: 300px;
  width: 43.7%;
  margin-right: 10px;


}
.footerLogo
{

  padding-bottom:20px;

}

.SM
{
  width:30px;
  margin:10px 10px;


}
.textbox
{
  border-style:none;
  width: 100%;
  border-radius: 8px;
  padding: 10px 10px;


}


/********************BUTTON CLASS*********************/

.submit
{
  text-align: right;
}

.btn
{
  background-color: #ff52bf;
  color: #f7f9fd;
  margin: 50px auto;
  padding: 15px 40px;
  border:none;
  transition-duration: 0.4;
  font-size: 1.25rem;
  outline: none;


}
.btn:hover
{
  background-color: #9a52ff;
  color: #f7f9fd;
}
.btnTOP
{
  position:absolute;
  right:50px;
  top:50px;
  padding: 10px 40px;
  border:none;
  transition-duration: 0.4;

  outline: none;
  background-color: white;
  color: #808d99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btnTOP:hover
{
  background-color: #f7f9fd;
  color: #808d99;
}
.btn-sub
{
  background-color: #ff52bf;
  color: #f7f9fd;
  margin: 10px auto;

  padding: 15px 30px;
  border:none;
  transition-duration: 0.4;
  font-size: 1.25rem;
  outline: none;


}
.btn-sub:hover
{
  background-color: #9a52ff;
  color: #f7f9fd;
}

/*******************FONT CLASS*****************/

.miniText
{
  font-size: 14px;
  color:#f7f9fd;
}

.copyright
{
  width: 370px;
}

/**********************ATTRIBUTION CLASS*****************/

.attribution
  {
    font-size: 11px; text-align: center;
    color: #f7f9fd;
   }
a
{
  text-decoration: none;
  color: #ff52bf;
}
